POSTGRES_PASSWORD=postgres
POSTGRES_DB=ms_catalog
POSTGRES_USER=postgres

INIT__APP__RUNMODE=dev

INIT__LOG__MIN_LEVEL=info
INIT__LOG__FORMAT=console

INIT__DEBUG=true
INIT__ENTRY__HTTP__PORT=8080

INIT__DB__DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable